
.information{
    display: flex;
    flex-direction: column;

    .inf{
      display: flex;
      flex-direction: row;
  
        .right3{
          display: flex;
          margin-left: auto;
          padding-right: 50px;
          flex-direction: row;

          .right{
            flex-direction: column;


            .box{
              width: 400px;
              display: flex;
              height: 500px;
              margin-top: 50px;
              margin-left: auto;
              margin-right: auto;
              border-radius: 15px;
              background-color: rgba(0, 0, 0, 0.275);










              
              .box2{
                  width: 370px;
                  display: flex;
                  height: 470px;
                  margin-top: 15px;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 15px;
                  flex-direction: column;
                  background-color: rgba(0, 0, 0, 0.275);

                  .text1{
                      color: #fff;
                      font-size: 20px;
                      padding-top: 20px;
                      margin-left: auto;
                      margin-right: auto;
                  }

                  .box3{
                      display: flex;
                      margin-top: 70px;
                      flex-direction: column;
                  .boxing{
                      display: flex;

                      .text2{
                          display: flex;
                          color: #fff;
                          font-size: 18px;
                          padding-top: 30px;
                          padding-left: 15px;
                          flex-direction: row;
                      }
           
                      
                  
                      }
                  }
                  .button2 {
                      height: 30px;
                      width:  100px;
                      color: #fff;
                      font-size: small;
                      margin-top: 150px;
                      margin-left: auto;
                      margin-right: auto;
                      border-radius: 10px;
                      border-style: double;
                      background: transparent;
                  }
                  }
              }
















            .text{ 
              color: #fff;
              font-size: 20px;
              padding-top: 80px;
              padding-bottom: 20px;
            }
        
                 .stek{
                  height: 40px;
                  display: flex;
                  flex-direction: row;
                    .img{
                      padding-left: 20px;
                    }
                  }
          }
        }


      .inf2{
        display: flex;
        flex-direction: column;
        .text {
          color: #fff;
          padding-top: 20px;
          padding-left: 60px;

          .text2 {
              font-size: x-large;
              padding-left: 60px;
              padding-bottom: 20px;
          }

          .text3 {
              font-size: 14px;
              padding-left: 100px;
              padding-bottom: 5px;
          }

          .text4 {
              font-size: 14px;
              padding-left: 40px;
              padding-bottom: 10px;
          }
        }
      .avatar {
        display: flex;
        padding-top: 80px;
        padding-left: 80px;
        flex-direction: column;
        .ava {
          padding: 8px;
          transition-duration: 2000ms;
          border: 2px solid rgba(255, 255, 255, 0.3);

            &>img {
              border-radius: 50%;
              transition-duration: 200ms;
              border: 2px solid rgba(255, 255, 255, 0.3);
            }

            &:hover {
                border: 2px solid rgba(255, 255, 255, 0.9);

                &>img {
                    border: 2px solid rgba(255, 255, 255, 0.9);
                }
            }
        }
      }
    }
  }
}



